.custom-input {
    --border-radius: 16px!important;
    --padding-start: 20px!important;
    min-height: 46px!important;
    margin: 16px 0;
    .label-text {
        margin-top: -2px;
        font-size: 14px;
    }
}

.content-center {
    align-items: center;
}

b {
    font-weight: 600;
}

.button-form {
    margin-bottom: 16px;
}

.header-md {
    -webkit-box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.1);
}

ion-header ion-toolbar:first-of-type {
    height: 48px;
    display: grid;
    align-content: center;
}

.center-content {
    display: grid;
    align-content: center;
    height: 100%;
}

.tc {
    text-align: center;
}

.mt-1 {
    margin-top: 10px;
}
.n-decorate {
    text-decoration: none;
}